
<div div fxLayout="row" fxLayoutAlign="center center" style="margin-top:1em; margin-bottom: 1em;">

    <ng-container *ngIf="btnCustomText">
        <button type="button" mat-raised-button color="primary" (click)="btnCustomMethod()">
            Galería
        </button>
    </ng-container>

    <div class="separador-horizontal-10"></div>

    <button type="button" id="btnSeleccionarCambiar" mat-raised-button color="primary" (click)="fileInput.click()">
        {{btnSeleccionarCambiarText}}
    </button>
    <input type="file" #fileInput hidden (change)="change($event)" />

    <div class="separador-horizontal-10"></div>

    <ng-container *ngIf="file != null">
        <button type="button" mat-raised-button color="warn" (click)="upload()">
            Confirmar
        </button>
    </ng-container>

</div>

<div *ngIf="imagen !== undefined && imagenBase64 === undefined" fxLayout="row" fxLayoutAlign="center center">
    <img [src]="imagen.Ruta" class="width-50" />
</div>

<div *ngIf="imagenBase64" fxLayout="row" fxLayoutAlign="center center">
    <img [src]="imagenBase64" class="width-50" />
</div>

