
<app-list-img></app-list-img>  

<mat-card style="margin-top:1em; margin-bottom:1em; min-height: 70vh;">
    <mat-card-content style="margin:0;">
        <mat-tab-group>
            <mat-tab label="Subir imagen">  
                <div>
                    <app-input-img (imagenSeleccionada)="imagenSeleccionada($event)"></app-input-img>
                </div>
            </mat-tab>
            <mat-tab label="Galería"> 
                 
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>