<!-- <p>Binding de doble via: {{contenidoMarkDown}}</p> -->
<mat-card style="margin-top:1em; margin-bottom:1em;">
  <mat-card-content style="margin:0;">
  
    <form [formGroup]="formGroup" (submit)="accion()" fxLayout="column">
          
      <mat-form-field appearance="fill" >
          <mat-label>Nombre de ruta</mat-label>
          <input matInput formControlName="NombreDeRuta">
          <mat-error>{{obtenerErrorCampoNombreDeRuta()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput formControlName="Titulo"> <!-- [(ngModel)]="contenidoMarkDown"-->
          <mat-error>{{obtenerErrorCampoTitulo()}}</mat-error>
      </mat-form-field>

      <div
        fxLayout.xs="column" 
        fxLayout.sm="column" 
        fxLayout.md="row" 
        fxLayout.lg="row"
        fxLayout.xl="row" 
        fxLayoutAlign.sm="center stretch" 
        fxLayoutAlign.md="space-between center"
        fxLayoutWrap>
      <app-select 
          [nombre]="'Categoría'" 
          [objetos]="categorias"
          fxFlex.xs="49%"
          fxFlex.sm="49%"
          fxFlex.md="49%"
          [valueSelected]="idCategoriaSelected"
          (valueSelectedEvent)="categoriaSelected($event)"
          ></app-select>

          
        <mat-form-field appearance="fill" 
          fxFlex.xs="49%"
          fxFlex.sm="49%"
          fxFlex.md="49%">
          <mat-label>Fecha de Publicación</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="FechaHoraPublicacion" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <!-- <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <mat-select>
              <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">
              {{categoria.viewValue}}
              </mat-option>
          </mat-select>
          <mat-error>{{obtenerErrorCampoCategoria()}}</mat-error>
      </mat-form-field> -->
      <h4 class="upper subtitle">Artículo</h4>
      <quill-editor formControlName="Contenido"></quill-editor>

      <h4 class="upper subtitle" style="margin-top:1em;">Prelectura</h4>
      <quill-editor formControlName="PreLectura">
        
      </quill-editor>

        <div style="margin: 10px 0px;">
          <app-input-img 
            [btnCustomText]="btnCustomText"
            [imagen] = "imagen"
            (imagenSeleccionada)="imagenSeleccionada($event)"
            (btnCustomEvent)="btnCustomMethod($event)"
            ></app-input-img>
        </div>

        <!-- <app-selector-multiple 
          [noSeleccionados]="categoriasNoSeleccionadas"
          [seleccionados]="categoriasSeleccionadas"
        >
        </app-selector-multiple> -->
      
        <!-- <h4>Autocomplete</h4>
        <app-autocomplete></app-autocomplete> -->

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-stroked-button routerLink="/articulos">Cancelar</button>
          <button mat-flat-button color="primary">{{btn}}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>