/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.contenedor{
    padding-left:15px;
    padding-right: 15px;
}

.width-100{
    width:100%;
}

.center{
    text-align:center !important;
}

.separador-horizontal-10{
    margin-left:5px;
    margin-right:5px;
}